/*DRAGULA*/
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

  .bag-container {
    float: left;
    width: 200px;
    height: 100%;
    margin: 10px 10px;
  }
  .persons {
    float: right;
    width: 350px;
  }
  .drag-element {
    cursor: move;
    padding:.5em;
    font-weight:bold;
    font-size: 1.1rem;
    margin: 1em 0  0 0;
  }
  .drag-element input {
    background-color: inherit;
    border:0;
    color: inherit;
    height: 1rem;
    margin-bottom: 1px;
    font-size: 1.1rem;
    font-family: inherit;
  }
  .drag-element .input-field {
    margin-top: 0px;
  }

  .bag-container .row {
    margin-bottom: 0px;
  }
  .bag-container .bag {
    min-height: 50px;
  }
  
.handler {
    cursor: move;
    padding-top: 0px;
}
.card-title input {
  font-size: 1.5rem;
  font-weight:bold;
  font-family: 'Raleway', 'Arial';
}

.bag-container-footer {
  padding: 1em 0em 0em 0em;
}

input[type=text]:not(.browser-default).datazadania {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Raleway', 'Arial';
  width: 280px;
}

.dzientygodnia {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Raleway', 'Arial';
}

/*CSS*/
/*   .container {
    display: grid;
    grid-template-columns: 50% auto;
  }
  .col {
      padding: .4em 1.3em;
  }
  .color-dark {
      background: #2885C4;
  }
  .color-darker {
    background: rgb(9, 83, 133);
}
  .color-light {
      background: #57B3F1;
  }
  
 
  .bag-container {
    float: left;
    width: 200px;
    height: 100%;
    margin: 1em;
    box-shadow: 0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
    
  }

  .persons {
    float: right;
    width: 250px;
  }

  .bag-container-title {
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 1em 0em;
  }
  .bag-container-title input {
    background-color: inherit;
    border:0;
    color: inherit;
  }

  .bag {
      background:rgb(10, 112, 180);
      padding: 10px;
      }

  .bag-container-footer {
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding: 1em 0em;
  }
  
  .drag-element{
    background:rgb(89, 172, 228);
    padding:.5em;
    font-weight:bold;
    cursor:pointer;
    margin: 1em 0  0 0;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 5px 8px 0 rgba(0,0,0,.14), 0 1px 14px 0 rgba(0,0,0,.12);  
}

.drag-element input {
  background-color: inherit;
  border:0;
  color: inherit;
}

input {
  font-family: 'Raleway', 'Arial';    
  font-weight: bold;
  font-size: 1em;
}

input.txt {
  border: 0;
  padding: 1em 0.5em;
  width: 50%;

}
input.btn {
  border: 0;

  padding:1em 1em;
  background:#A5F883;
  color:#003A61;
  margin-bottom:0.5em;
  cursor:pointer;
} */