<div class="bag-container persons">
  <div class="bag-container-title color-darker">Osoby</div>
  <div [dragula]='"bag-one"' [dragulaOptions]="options" class="bag" [dragulaModel]='zadania.zasoby'>
    <div *ngFor="let item of zadania.zasoby" class="drag-element" [innerHtml]='item'></div>
  </div>
  <div class="bag-container-footer color-darker">
    <form>
      <input type="text" class="txt" name="item" placeholder="Nazwa" [(ngModel)]="nazwaZasobu">
      <input type="submit" class="btn" value="Dodaj" (click)="addZasob()">
    </form>
  </div>
</div>

<div class="bag-container" *ngFor="let bag of zadania.bags; let i = index">
  <div class="bag-container-title color-darker">{{bag.nazwa}}</div>
  <div [dragula]='"bag-one"' [dragulaOptions]="options" class="bag" [dragulaModel]='bag.osoby'>
    <div *ngFor="let item of bag.osoby" class="drag-element" [innerHtml]='item'></div>
  </div>
</div>


<div class="bag-container">
  <div class="bag-container-title color-darker">Debug</div>
  <div class="bag">
    <pre>zadania: {{zadania | json}}</pre>
  </div>
</div>
<!-- <div [dragula]='"bag-one"' [dragulaOptions]="options">
  <div>11111</div>
  <div>22222</div>
  <div>33333</div>
</div>
<div [dragula]='"bag-one"' [dragulaOptions]="options">
  <div>AAAAAA</div>
  <div>BBBBBB</div>
  <div>CCCCCC</div>
</div>
 -->
<router-outlet></router-outlet>